*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    padding: 0px!important;
}

.logo img{
    height: 70px;
    margin-left: 15px;
}

.logo{
    float: left;
    margin-top: -10px;
    width: 70%;
}

.menu-principal{
    background-color: #252323;
    height: 50px;
    width: 100%;
}

main, .content{
    width: 980px;
    position: relative;
    margin: 0 auto;
}

.redes-sociais ul li{
    padding-top: 20px;
    margin-left: 17px;
    display: inline-block;
    list-style: none;
}

.redes-sociais{
    width: 20%;
    float: right;
}

a i{
    color: white;
}

a i:hover{
    color: #9a9a9a;
}

.header-2{
    background-color: #fff;
    width: 980px;
    margin: 0 auto;
    padding: 15px;
}

.menu-urls{
    border-bottom: 3px solid #efefef;
    height: 60px;
}

.menu ul li{
    display: inline-block;
    color: #9a9a9a;
    margin-left: 15px;
    height:45px;
}

.menu ul li a:hover{
    color: #FF914D;
}

.menu ul li:hover{
    border-bottom: 3px solid #FF914D;
}

.menu ul li a{
    color: #9a9a9a;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
}

.menu{
    width: 70%;
    float: left;
    margin-left: 0px;
}

.busca{
    width: 30%;
    float: right;
    text-align: center;
    margin-top: -10px;
}

.busca input{
    color: #9a9a9a;
    height: 25px;
    padding: 12px;
    width: 190px;
    background-image: url(../img/png-transparent-computer-icons-search-box-button-button-desktop-wallpaper-search-box-magnifying-glass-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 20px;
    border: 1px solid #9a9a9a;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

.slide-principal img{
    width: 100%;
    height: 530px;
}

button.slick-prev{
    font-size: 0px;
    border: none;
    position: absolute;
}

button.slick-next{
    font-size: 0px;
    border: none;
    position: absolute;
}

.slick-dots li button{
    font-size: 0px;
    border: 5px solid white;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: absolute;
    left: 45%;
    top: 480px;
}

li.slick-active button{
    background-color: #FF914D;
}

.slick-dots li{
    padding-left: 10px;
    display: inline-block;
}

.texto-destaque p{
    color: #9a9a9a;
    font-size: 15px;
}

.texto-destaque{
    text-align: center;
}

.texto-destaque h1{
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
}

.texto-destaque strong{
    color: #646464;
}

.col-3 img{
    height: 150px;
}

.col-3{
    width: 33.3%;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
}

.bloco-texto{
    margin-top: 3em;
}

h3{
    font-weight: normal!important;
}

.projetos img{
    height: 150px;
    width: 200px;
}

.projetos{
    display: flex;
    width: 1100px;
    justify-content: space-between;
    margin-left: 120px;
}

.projeto1{
    border: 1px solid #9a9a9a;
    padding: 10px;
    background-color: white;
    cursor: pointer;
}

section{
    width: 100%;
    float: left;
    margin-top: 100px;
    background-color: #252323;
    padding-top: 50px;
    padding-bottom: 50px;
}

.projeto1 h3{
    font-size: 14px;
    color: #9a9a9a;
    width: 200PX;
}

.projeto1 p{
    width: 200px;
    font-size: 12px;
    color: #646464;
}

.icone-subir i{
    font-size: 70px;
    color: #252323;
    position: absolute;
    left: 47%;
    bottom: -690px;
}

aside.contato{
    float: left;
    margin-top: 100px;
    width: 1100px;
}

.contato1{
    margin-left: 50%;
}

.contato1 h2{
    font-size: 40px;
    color: #818181;
    padding: 20px;
    margin-left: 20px;
}

.contato1-1{
    padding-bottom: 40px;
}

.contato1-1-1{
    margin: 20px;
    cursor: pointer;
}

.contato1-1-1 i{
    font-size: 16px;
    color: #9a9a9a;
}

.contato1-1-1 a{
    text-decoration: none;
    color: #646464;
    font-size: 16px;
}

.contato1-1-1 a:hover{
    color: #252323;
    font-size: 17px;
}

.contato1-1-1 i:hover{
    color: #252323;
    font-size: 17px;
}

footer{
    position: fixed;
    margin-top: 540px;
    margin-left: 90%;
}

.link-fixo1 i{
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px 13px;
    border-radius: 50%;
}

.link-fixo2 i{
    color: white;
    background-color: black;
    font-size: 30px;
    padding: 10px 13px;
    border-radius: 50%;
}

@media screen and (max-width:440px){

    .logo img{
        height: 90px;
        margin-left: 35px;
        margin-top: 7px;
    }

    .menu-principal{
        height: 80px;
    }

    .logo{
        width: 0%;
    }

    .redes-sociais{
        width: 100%;
        float: left;
    }

    .redes-sociais ul{
        margin-left: 240px;
        margin-top: 12px;
    }

    .redes-sociais ul li{
        margin-left: 15px;
    }

    .redes-sociais ul li i{
        font-size: 21px;
    }

    .menu ul{
        margin-left: 5px;
    }

    .menu ul li{
        margin-left: 0px;
        margin-right: 30px;
    }

    .menu ul li a{
        font-size: 14px;
        letter-spacing: 3px;
    }

    .header-2{
        display: flex;
        flex-direction: column;
    }

    .menu-urls{
        height: 100px;
    }

    .menu-urls .busca{
        margin-left: 50px;
    }

    section{
        width: 100%;
    }

    .slide-principal img{
        height: 260px;
    }

    .slick-dots{
        width: 100%;
        top: 225px;
        left: 35%;
    }

    .slick-dots li button{
        border: 3px solid white;
        width: 15px;
        height: 15px
    }

    .texto-destaque p{
        font-size: 16px;
        margin-right: 610px;
        margin-left: 30px;
        width: 370px;
        margin-top: 5px;
        letter-spacing: 1px;
    }

    .texto-destaque{
        display: flex;
        flex-direction: column;
        float: left;
    }

    .bloco-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
    }

    .texto-destaque h1{
        font-size: 21px;
        margin-right: 500px;
        margin-left: 30px;
        width: 370px;
        margin-top: -70px;
    }

    .bloco-texto p{
        font-size: 14px;
        margin-left: 620px;
        width: 360px;
    }

    .icone-subir i{
        bottom: -765px;
        left: 40%;
        display: none;
    }

    .projetos{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        width: 224px;
    }

    .projeto1{
        margin-top: 20px;
    }

    .contato1{
        margin-left: 3%;
        margin-top: -80px;
    }

    footer{
        display: none;
    }

}

@media screen and (max-width:424px){

    .logo img{
        height: 80px;
        margin-left: 40px;
        margin-top: 7px;
    }

    .menu-principal{
        height: 70px;
    }

    .logo{
        width: 0%;
    }

    .redes-sociais{
        width: 100%;
        float: left;
    }

    .redes-sociais ul{
        margin-left: 230px;
        margin-top: 7px;
    }

    .redes-sociais ul li{
        margin-left: 15px;
    }

    .redes-sociais ul li i{
        font-size: 20px;
    }

    .menu ul{
        margin-left: 20px;
    }

    .menu ul li{
        margin-left: -5px;
        margin-right: 45px;
    }

    .menu ul li a{
        font-size: 14px;
    }

    .header-2{
        display: flex;
        flex-direction: column;
    }

    .menu-urls{
        height: 100px;
    }

    .menu-urls .busca{
        margin-left: 50px;
    }

    section{
        width: 100%;
    }

    .slide-principal img{
        height: 250px;
    }

    .slick-dots{
        width: 100%;
        top: 215px;
        left: 35%;
    }

    .slick-dots li button{
        border: 3px solid white;
        width: 15px;
        height: 15px;
    }

    .texto-destaque p{
        font-size: 15px;
        margin-right: 610px;
        margin-left: 30px;
        width: 360px;
        margin-top: 5px;
    }

    .texto-destaque{
        display: flex;
        flex-direction: column;
        float: left;
    }

    .bloco-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
    }

    .texto-destaque h1{
        font-size: 20px;
        margin-right: 500px;
        margin-left: 30px;
        width: 360px;
        margin-top: -70px;
    }

    .bloco-texto p{
        font-size: 14px;
        margin-left: 620px;
        width: 360px;
    }

    .icone-subir i{
        bottom: -720px;
        left: 40%;
        display: none;
    }

    .projetos{
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        width: 224px;
    }

    .projeto1{
        margin-top: 20px;
    }

    .contato1{
        margin-left: 3%;
        margin-top: -80px;
    }

    footer{
        display: none;
    }

}

@media screen and (max-width:400px){

    .logo img{
        height: 80px;
        margin-left: 35px;
        margin-top: 6px;
    }

    .menu-principal{
        height: 70px;
    }

    .logo{
        width: 0%;
    }

    .redes-sociais{
        width: 100%;
        float: left;
    }

    .redes-sociais ul{
        margin-left: 230px;
        margin-top: 8px;
    }

    .redes-sociais ul li{
        margin-left: 15px;
    }

    .redes-sociais ul li i{
        font-size: 18px;
    }

    .menu ul{
        margin-left: 0px;
    }

    .menu ul li{
        padding-left: 5px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 40px;
    }

    .menu ul li a{
        font-size: 13px;
    }

    .header-2{
        display: flex;
        flex-direction: column;
    }

    .menu-urls{
        height: 100px;
    }

    .menu-urls .busca{
        margin-left: 30px;
    }

    section{
        width: 100%;
    }

    .slide-principal img{
        height: 240px;
    }

    .slick-dots{
        width: 100%;
        top: 205px;
        left: 35%;
    }

    .slick-dots li button{
        border: 3px solid white;
        width: 15px;
        height: 15px;
    }

    .texto-destaque p{
        font-size: 15px;
        margin-right: 610px;
        margin-left: 20px;
        width: 350px;
        margin-top: 5px;
    }

    .texto-destaque{
        display: flex;
        flex-direction: column;
        float: left;
    }

    .bloco-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 35px;
    }

    .texto-destaque h1{
        font-size: 20px;
        margin-right: 500px;
        margin-left: 15px;
        width: 360px;
        margin-top: -70px;
    }

    .bloco-texto p{
        font-size: 14px;
        margin-left: 600px;
        width: 360px;
    }

    .icone-subir i{
        bottom: -765px;
        left: 40%;
        display: none;
    }

    .projetos{
        margin-left: 90px;
        display: flex;
        flex-direction: column;
        width: 224px;
    }

    .projeto1{
        margin-top: 20px;
    }

    .contato1{
        margin-left: 3%;
        margin-top: -80px;
    }

    footer{
        display: none;
    }

}

@media screen and (max-width:385px){

    .logo img{
        height: 70px;
        margin-left: 30px;
        margin-top: 5px;
    }

    .menu-principal{
        height: 60px;
    }

    .logo{
        width: 0%;
    }

    .redes-sociais{
        width: 100%;
        float: left;
    }

    .redes-sociais ul{
        margin-left: 230px;
        margin-top: 2px;
    }

    .redes-sociais ul li{
        margin-left: 10px;
    }

    .redes-sociais ul li i{
        font-size: 17px;
    }

    .menu ul{
        margin-left: 0px;
    }

    .menu ul li{
        padding-left: 5px;
        padding-right: 0px;
        margin-left: 0px;
        margin-right: 40px;
    }

    .menu ul li a{
        font-size: 12px;
    }

    .header-2{
        display: flex;
        flex-direction: column;
    }

    .menu-urls{
        height: 90px;
    }

    .menu-urls .busca{
        margin-left: 30px;
    }

    section{
        width: 100%;
    }

    .slide-principal img{
        height: 250px;
    }

    .slick-dots{
        width: 100%;
        top: 220px;
        left: 35%;
    }

    .slick-dots li button{
        border: 3px solid white;
        width: 15px;
        height: 15px;
    }

    .texto-destaque p{
        font-size: 14px;
        margin-right: 610px;
        margin-left: 0px;
        width: 350px;
        margin-top: 5px;
    }

    .texto-destaque{
        display: flex;
        flex-direction: column;
        float: left;
    }

    .bloco-texto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
    }

    .texto-destaque h1{
        font-size: 19px;
        margin-right: 500px;
        margin-left: 10px;
        width: 350px;
        margin-top: -70px;
    }

    .bloco-texto p{
        font-size: 13px;
        margin-left: 600px;
        width: 350px;
    }

    .icone-subir i{
        bottom: -895px;
        left: 40%;
        display: none;
    }

    .projetos{
        margin-left: 75px;
        display: flex;
        flex-direction: column;
        width: 224px;
    }

    .projeto1{
        margin-top: 20px;
    }

    .contato1{
        margin-left: 3%;
        margin-top: -80px;
    }

    footer{
        display: none;
    }

}
